<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqOperSQL.Properties.Settings.db_05ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=db_05;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>